.app_dark_theme {
    --bg-color: #162521;
    --inverted-bg-color: #635c51;
    --primary-color: #c0e0de;
    --secondary-color: #4f7cac;
    --inverted-primary-color: #efc88b;
    --inverted-secondary-color: #efc88b;
}
